# Data process lin
numpy
pandas
matplotlib
seaborn
scipy
scikit-learn

#Model ML
xgboost
tensorflow
keras
torch
torchvision
torchaudio

#fetch Data
vnstock3

# RL
gym
stable-baselines3

# Hard process
joblib
tqdm

# Model Manager
mlflow
optuna

# API and database
fastapi
uvicorn
sqlalchemy
