@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;700&display=swap');
@import "tailwindcss";

:root {
  /* Theme colors */
  --text-primary-light: black;
  --text-primary-dark: white;
  --text-secondary-light: #464646;
  --text-secondary-dark: #a0a0a0;
  --bg-primary-light: #ffffff;
  --bg-primary-dark: #242424;
  --bg-secondary-light: #d4d4d4;
  --bg-secondary-dark: #222222;

}

/* Theme specific variables */
.light-theme {
  --text-primary: var(--text-primary-light);
  --text-secondary: var(--text-secondary-light);
  --bg-primary: var(--bg-primary-light);
  --bg-secondary: var(--bg-secondary-light);
}

.dark-theme {
  --text-primary: var(--text-primary-dark);
  --text-secondary: var(--text-secondary-dark);
  --bg-primary: var(--bg-primary-dark);
  --bg-secondary: var(--bg-secondary-dark);
}

.home-page {
  background-color: var(--bg-primary);
  color: var(--text-primary);
}

